Repository magmax/python-inquirer: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, check-toml, check-yaml, flake8, pyupgrade

bandit:
  name: bandit
  entry: bandit
  language: system
  require_serial: true
  args:
  - -c
  - bandit.yml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

fix regression
  src/inquirer/render/console/_editor.py
Due: bandit, black, flake8, pyupgrade

update nox file
  .github/workflows/tests.yml
  noxfile.py
Due: bandit, black, check-yaml, flake8, pyupgrade

run pylint
  src/inquirer/__init__.py
  src/inquirer/prompt.py
  src/inquirer/questions.py
  src/inquirer/render/__init__.py
  src/inquirer/render/console/__init__.py
  src/inquirer/render/console/_checkbox.py
  src/inquirer/render/console/_list.py
  src/inquirer/render/console/_password.py
  src/inquirer/shortcuts.py
  tests/integration/console_render/helper.py
  tests/integration/console_render/test_basic.py
  tests/integration/console_render/test_checkbox.py
  tests/integration/console_render/test_confirm.py
  tests/integration/console_render/test_editor.py
  tests/integration/console_render/test_list.py
  tests/integration/console_render/test_password.py
  tests/integration/console_render/test_text.py
  tests/unit/test_shortcuts.py
Due: bandit, black, flake8, pyupgrade

forgot a file
  noxfile.py
Due: bandit, black, flake8, pyupgrade

Add support for a Red theme to the currently provided built-in themes. Complete the RGB.
  docs/images/inquirer_theme-compare.png
  src/inquirer/themes.py
  tests/unit/test_themes.py
Due: bandit, black, flake8, pyupgrade

Update src/inquirer/themes.py
  src/inquirer/themes.py
Due: bandit, black, flake8, pyupgrade

Apply review suggestions
  docs/images/inquirer_theme-compare.png
  src/inquirer/themes.py
  tests/unit/test_themes.py
Due: bandit, black, flake8, pyupgrade

pyproject: move buildsystem to top of file
  pyproject.toml
Due: check-toml

TMP: only test pyhton 3.8
  .github/workflows/tests.yml
Due: check-yaml

constraints: update poetry to `v1.8`
  .github/workflows/python-constraints.txt
Due: none

TMP: upload error log
  .github/workflows/tests.yml
Due: check-yaml

constraints.txt: Revert bad merge
  .github/workflows/constraints.txt
Due: none

update poetry again
  .github/workflows/python-constraints.txt
Due: none

remove python 3.8 as its EOL, add 3.13
  .github/workflows/tests.yml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: bandit, black, check-toml, check-yaml, flake8, pyupgrade

update cryptography package
  poetry.lock
  pyproject.toml
Due: check-toml

Add support for a Red theme to the currently provided built-in themes… (#687)
  docs/images/inquirer_theme-compare.png
  src/inquirer/themes.py
  tests/unit/test_themes.py
Due: bandit, black, flake8, pyupgrade

fix: coverage requireing python 3.13
  .github/workflows/tests.yml
Due: check-yaml

pyproject: move build-system to top of file
  pyproject.toml
Due: check-toml

`poetry.dev-dependencies` is deprecated
  pyproject.toml
Due: check-toml

regenerate lockfile
  poetry.lock
Due: none

add nox as a dev dependency
  poetry.lock
  pyproject.toml
Due: check-toml

ensure poetry-exporter-plugin is installed
  .github/workflows/tests.yml
Due: check-yaml

release v3.4.1
  pyproject.toml
Due: check-toml

Optimize questions.py
  src/inquirer/questions.py
Due: bandit, black, flake8, pyupgrade

Add Page Up/Page Down navigation to List and Checkbox
  README.md
  src/inquirer/render/console/_checkbox.py
  src/inquirer/render/console/_list.py
  tests/integration/console_render/test_checkbox.py
  tests/integration/console_render/test_list.py
Due: bandit, black, flake8, pyupgrade

fix: ConsoleRender.height reads terminal.width instead of terminal.height
  src/inquirer/render/console/__init__.py
  tests/integration/console_render/test_basic.py
Due: bandit, black, flake8, pyupgrade

Path conditions:
  bandit: any of: \.py$
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
